{% extends 'AppAlan/base.html' %}

{% load static %}

{% block title %} Formulario - Agregar Curso {% endblock title %}


{% block main %}

            <!-- Call to Action-->
            <div class="card text-white bg-primary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Estos son algunos de nuestros cursos disponibles:</p></div>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Python</h2>
                            <p class="card-text">Aprende a programar con Python! Curso intensivo y práctico para iniciar tus conocimientos en el arte de la programación!</p>
                        </div>
                    </div>
                </div>

                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                            <h2 class="card-title">Django</h2>
                            <p class="card-text">Organiza y escribe tu código de manera más eficiente y reduce significativamente el tiempo de desarrollo web con módulos reutilizables!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                            <h2 class="card-title">JavaScript</h2>
                            <p class="card-text">Desde actualizar fuentes de redes sociales a mostrar animaciones y mapas interactivos, las funciones de este lenguaje pueden mejorar la experiencia del usuario en un sitio web.</p>
                            </div>
                        </div>
                    </div>

                    <form action="/curso-formulario/" method="POST">
                        {% csrf_token %}
                        <p>Curso: <input type="text" name="curso"></p>
                        <p>Camada: <input type="text" name="camada"></p>
                
                        <input type="submit" value="Enviar">
                
                    </form>

{% endblock main %}

