{% extends 'AppAlan/base.html' %}

{% load static %}

{% block title %} Formulario - Agregar Entregables {% endblock title %}


{% block main %}

            <!-- Call to Action-->
            <div class="card text-white bg-primary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Puedes cargar una entrega en la base de datos.</p></div>
            </div>
            <div class="row gx-4 gx-lg-5">
                            <h2 class="card-title"></h2>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>

            <form action="/entregable-formulario/" method="POST">
                {% csrf_token %}
                <p>Nombre: <input type="text" name="nombre"></p>
                <p>Fecha de entrega: <input type="text" name="fecha_de_entrega"></p>
                <p>Entregado: <input type="text" name="entregado"></p>
                    <input type="submit" value="Enviar">
            
            </form>
                

{% endblock main %}